.profileCard{
    width:100vw;
    height: 80vh;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items: center;
}

.imageContainer{
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
}