.profileCard{
    width:100vw;
    height: 80vh;
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items: center;
}

.imageContainer{
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 30vw;
    max-width: 250px;
    height: 30vw;
    max-height: 250px;
}